@import '../../mixins', '../../includes', '../../variables';

@if ($mm_include_fullscreen) {
    //  TODO: dit werkt niet omdat de page het niet overneemt
    .mm-menu--fullscreen {
        --mm-size: 100%;
        --mm-min-size: 100%;
        --mm-max-size: 100%;

        &.mm-menu--opened ~ .mm-slideout {
            --mm-size: 100%;
            --mm-min-size: 100%;
            --mm-max-size: 100%;
        }
    }
}
