$mm_opt_borderstyle			: true !default;
$mm_opt_borderstyle_none	: $mm_opt_borderstyle !default;
$mm_opt_borderstyle_full	: $mm_opt_borderstyle !default;
$mm_opt_borderstyle_offset	: $mm_opt_borderstyle !default;
