@use "../../variables";

$mm_module: ".mm-sectionindexer";

:root {
    --mm-sectionindexer-size: 20px;
}

#{$mm_module} {
    background: inherit;
    text-align: center;
    font-size: 12px;

    box-sizing: border-box;
    width: var(--mm-sectionindexer-size);

    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(0px - var(--mm-sectionindexer-size));
    z-index: 5;

    transition: right variables.$mm_transitionDuration
        variables.$mm_transitionFunction;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    a {
        color: var(--mm-color-text-dimmed);
        line-height: 1;
        text-decoration: none;
        display: block;
    }

    ~ .mm-panel {
        padding-right: 0;
    }

    &--active {
        right: 0;

        ~ .mm-panel {
            padding-right: var(--mm-sectionindexer-size);
        }
    }
}
