$mm_opt_dropdown		: true !default;
$mm_opt_dropdown_tip	: $mm_opt_dropdown !default;

$mm_dropdownShadow		: 0 2px 10px rgba( #000, 0.3 ) !default;
$mm_dropdownTipX		: 20px !default;
$mm_dropdownTipY		: 10px !default;