$mm_include_navbars: true !default;
$mm_include_navbars_top: $mm_include_navbars !default;
$mm_include_navbars_bottom: $mm_include_navbars !default;
$mm_include_navbars_breadcrumbs: $mm_include_navbars !default;
$mm_include_navbars_searchfield: $mm_include_navbars !default;
$mm_include_navbars_tabs: $mm_include_navbars !default;
