$mm_module: '.mm-navbar';

@if ($mm_include_navbars_tabs) {
    //  All tabs.
    #{$mm_module}_tabs {
        > * {
            justify-content: center;
            padding: 0 $mm_padding;
            border: 1px solid transparent;
        }
    }

    //  Selected tab.
    #{$mm_module}__tab_selected {
        background: var(--mm-color-background);

        // TODO: not specific enough :/ overriden by .mm-menu a :/ :/ :/
        color: var(--mm-color-text);
        // /TODO
        &:not(:first-child) {
            border-left-color: var(--mm-color-border);
        }

        &:not(:last-child) {
            border-right-color: var(--mm-color-border);
        }
    }
}

//  Navbars at the top.
@if ($mm_include_navbars_top) {
    .mm-navbars_top {
        #{$mm_module}_tabs {
            border-bottom: none;
        }

        //  Borders.
        #{$mm_module}_tabs > * {
            border-bottom-color: var(--mm-color-border);
        }

        #{$mm_module}__tab_selected {
            border-bottom-color: transparent;
            border-top-color: var(--mm-color-border);
        }

        //  Backgrounds
        &.mm-navbars_has-tabs {
            #{$mm_module} {
                background: var(--mm-color-background-emphasis);
            }

            #{$mm_module}_tabs ~ #{$mm_module} {
                background: var(--mm-color-background);
            }
        }
    }
}

@if ($mm_include_navbars_bottom) {
    .mm-navbars_bottom {
        #{$mm_module}_tabs {
            &:first-child {
                border-top: none;
            }
        }

        //  Borders.
        #{$mm_module}_tabs > * {
            border-top-color: var(--mm-color-border);
        }

        #{$mm_module}__tab_selected {
            border-top-color: transparent;
            border-bottom-color: var(--mm-color-border);
        }
        //  Backgrounds
        &.mm-navbars_has-tabs {
            #{$mm_module} {
                background: var(--mm-color-background);
            }

            #{$mm_module}_tabs,
            #{$mm_module}_tabs ~ #{$mm_module} {
                background: var(--mm-color-background-emphasis);
            }
        }
    }
}
