@import '../../mixins', '../../includes', '../../variables';


@if ($mm_include_navbars_top or $mm_include_navbars_bottom) {
    .mm-navbars {
        flex-shrink: 0;
    }
}

@if ($mm_include_navbars_top) {
    .mm-navbars_top {
        .mm-navbar:not(:last-child) {
            border-bottom: none;
        }
    }
}

@if ($mm_include_navbars_bottom) {
    .mm-navbars_bottom {
        .mm-navbar {
            border-bottom: none;

            &:first-child {
                border-top: 1px solid var(--mm-color-border);
            }
        }
    }
}

@import 'navbar.searchfield', 'navbar.breadcrumbs', 'navbar.tabs';
