@import 
	'../../mixins',
	'../../variables';


@if ( $mm_opt_navbars )
{
	@if ( $mm_opt_navbars_top or $mm_opt_navbars_bottom )
	{
		.mm-navbars_top,
		.mm-navbars_bottom
		{
			background: inherit;
			border-color: inherit;
			border-width: 0;
			position: absolute;
		    left: 0;
		    right: 0;
			z-index: 1;

			> .mm-navbar
			{
				border-width: 0;
				display: flex;
				position: relative;

				&:not( .mm-navbar_has-btns )
				{
					padding: 0;
				}

				> :not( img ):not( .mm-btn )
				{
					flex: 1;
				}
			}
		}
	}

	@if ( $mm_opt_navbars_top )
	{
		.mm-navbars_top
		{
			border-bottom-style: solid;
			border-bottom-width: 1px;
			top: 0;
			bottom: auto;
		}

		@include mm_navbar_position( 'top', 1 );
		@include mm_navbar_position( 'top', 2 );
		@include mm_navbar_position( 'top', 3 );
		@include mm_navbar_position( 'top', 4 );
	}

	@if ( $mm_opt_navbars_bottom )
	{
		.mm-navbars_bottom
		{
			border-top-style: solid;
			border-top-width: 1px;
			bottom: 0;
			top: auto;
		}

		@include mm_navbar_position( 'bottom', 1 );
		@include mm_navbar_position( 'bottom', 2 );
		@include mm_navbar_position( 'bottom', 3 );
		@include mm_navbar_position( 'bottom', 4 );
	}

	@include mm_navbar_size( 2 );
	@include mm_navbar_size( 3 );
	@include mm_navbar_size( 4 );
}

@import 
	'navbar.breadcrumbs',
	'navbar.tabs';

