$mm_opt_pagedim				: true !default;
$mm_opt_pagedim_default		: $mm_opt_pagedim !default;
$mm_opt_pagedim_black		: $mm_opt_pagedim !default;
$mm_opt_pagedim_white		: $mm_opt_pagedim !default;

$mm_pagedimOpacity 			: 0.3 !default;