//	deprecated
@mixin mm_listviewSize( $size )
{
	.mm-menu_listview-#{$size}
	{
		.mm-listitem__text
		{
			padding-top: ($size - $mm_lineHeight) * .5;;
			padding-bottom: ($size - $mm_lineHeight) * .5;;
		}

		.mm-listitem_vertical > .mm-listitem__btn
		{
			height: $size;
		}
	}
}
//	/deprecated