$mm_opt_listview			: true !default;
$mm_opt_listview_sizes		: $mm_opt_listview !default;
$mm_opt_listview_justify	: $mm_opt_listview !default;
$mm_opt_listview_inset		: $mm_opt_listview !default;

$mm_listitemSizes			: [30, 50, 60] !default;