html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: Arial, Helvetica, Verdana;
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	background-color: #5888aa;
	-webkit-text-size-adjust: none;
}
h1 {
	text-shadow: 8px 10px 1px rgba(0,0,0,.1);
	text-transform: lowercase;
	font-family: 'Pacifico', Arial, sans-serif;
	font-weight: normal;
	font-size: 150px;
	line-height: 150px;
	letter-spacing: -10px;
	margin: 0 0 20px 0;
}
a,
a:hover
{
	color: #fff;
	text-decoration: underline;
}

.phone {
	display: flex;
	flex-direction: column;
    position: relative;
    height: 600px;
    width: 300px;
	margin-right: 100px;
	overflow: hidden;
	overflow-y: auto;
	background: #1d2327;
	border-radius: 45px;
	border: 5px solid #000;
	outline: 8px solid #222;
	box-shadow: 0 5px 50px #2a6787;

}
.phone:before {
	content: "";
	position: relative;
	z-index: 1;
	display: block;
	height: 35px;
	flex-shrink: 0;
	margin-top: 0;
	border-radius: 30px 30px 0 0;
	background: url(../img/iphonex-example-camera.png) center top no-repeat
		#bba6a2;
}
.phone:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 8px;
	left: calc(50% - 50px);
	z-index: 3;
	width: 100px;
	height: 6px;
	border-radius: 3px;
	background: rgb(0 0 0 / 30%);
}
.phone iframe {
	flex-grow: 1;
    display: block;
    position: relative;
    z-index: 2;
	width: 100%;
	margin: 0;
    border: unset;
}

.page {
	width: 350px;
}
