$mm_opt_offcanvas			: true !default;
$mm_opt_offcanvas_blocker	: $mm_opt_offcanvas !default;

$mm_menuWidth				: 0.8 !default;
$mm_menuMinWidth			: 140px !default;
$mm_menuMaxWidth			: 440px !default;

$mm_menuHeight				: 0.8 !default;
$mm_menuMinHeight			: 140px !default;
$mm_menuMaxHeight			: 880px !default;
