$mm_include_shadows: true !default;
$mm_include_shadows_page: $mm_include_shadows !default;
$mm_include_shadows_menu: $mm_include_shadows !default;
$mm_include_shadows_panels: $mm_include_shadows !default;
