@import "../../mixins", "../../includes", "../../variables";

$mm_module: ".mm-counter";

#{$mm_module} {
  display: block;
  padding-left: $mm_padding * 2;
  float: right;
  text-align: right;
  color: var(--mm-color-text-dimmed);
}

@import "counters.rtl";
