@mixin mm_searchfield_colors( $cls: "",
	$inputBg: $mm_inputBackgroundColor, $color: $mm_textColor,
	$dimmedColor: $mm_dimmedTextColor
) {
	#{$cls} .mm-searchfield input
	{
		background: $inputBg;
		color: $color;
	}
	#{$cls} .mm-panel__noresultsmsg
	{
		color: $dimmedColor;
	}
}