$mm_opt_searchfield				: true !default;
$mm_opt_searchfield_btn			: $mm_opt_searchfield !default;
$mm_opt_searchfield_panel		: $mm_opt_searchfield !default;
$mm_opt_searchfield_searchpanel : $mm_opt_searchfield !default;

$mm_inputBackgroundColor		: rgba( #000, 0.05 ) !default;
$mm_searchfieldHeight 			: $mm_navbarHeight - $mm_padding - 4 !default;