//	Position right
@mixin mm_position_right(
    $cls: '',
) {
    .mm-wrapper--opening {
        #{$cls}.mm-menu--position-right.mm-menu--opened ~ .mm-slideout {
            transform: translate3d(
                clamp(calc(0px - var(--mm-max-size)), calc(0px - var(--mm-size)), calc(0px - var(--mm-min-size))),
                0,
                0
            );
        }
    }
}

//	Position top
@mixin mm_position_top(
    $cls: '',
) {
    #{$cls}.mm-menu--position-top {
        height: clamp(var(--mm-min-size), size(--mm-size), var(--mm-max-height));
    }
}

//	Position bottom
@mixin mm_position_bottom(
    $cls: '',
) {
    #{$cls}.mm-menu--position-bottom {
        height: clamp(var(--mm-min-size), size(--mm-size), var(--mm-max-height));
    }
}
