$mm_opt_positioning			: true !default;
$mm_opt_positioning_right	: $mm_opt_positioning !default;
$mm_opt_positioning_top		: $mm_opt_positioning !default;
$mm_opt_positioning_bottom	: $mm_opt_positioning !default;
$mm_opt_positioning_front	: $mm_opt_positioning !default;