@use "../../variables";

.mm-menu--position {
    &-right {
        left: auto;
        right: 0;

        &.mm-menu--opened ~ .mm-slideout {
            // Very very ugly (1px - 1px), but simply 0px is compiles without a unit (e.g. "0") which won't work.
            transform: translate3d(
                clamp(
                    calc((1px - 1px) - var(--mm-max-size)),
                    calc((1px - 1px) - var(--mm-size)),
                    calc((1px - 1px) - var(--mm-min-size))
                ),
                0,
                0
            );
        }
    }

    &-front {
        transform: translate3d(-100%, 0, 0);

        &.mm-menu--position-right {
            transform: translate3d(100%, 0, 0);
        }
    }

    &-top,
    &-bottom {
        width: 100%;
        height: clamp(var(--mm-min-size), var(--mm-size), var(--mm-max-size));
    }

    &-top {
        bottom: auto;
        transform: translate3d(0, -100%, 0);
    }

    &-bottom {
        top: auto;
        transform: translate3d(0, 100%, 0);
    }

    &-front,
    &-top,
    &-bottom {
        z-index: 2;
        transition: visibility 0s linear variables.$mm_transitionDuration,
            transform variables.$mm_transitionDuration
                variables.$mm_transitionFunction 0s;

        &.mm-menu--opened {
            transform: translate3d(0, 0, 0);

            ~ .mm-slideout {
                transform: none !important;
            }

            ~ .mm-wrapper__blocker {
                z-index: 1;
            }
        }
    }
}
