@mixin mm_columns_size( $nr )
{
	[class*="mm-menu_columns-"] .mm-panels > .mm-panel_columns-#{$nr}
	{
		@include mm_translate( $nr * 100%, 0 );
	}

	.mm-menu_columns-#{$nr} .mm-panels > .mm-panel
	{
		z-index: $nr;
		@if ( $nr > 0 )
		{
			width: ceil( 100% / $nr * 100 ) / 100;
		}
		else
		{
			width: 100%;
		}

		&:not( .mm-panel_opened ):not( .mm-panel_opened-parent )
		{
			@include mm_translate( ($nr + 1) * 100%, 0 );
		}
	}

	@include mm_offcanvas_size( ".mm-menu_columns-#{$nr}", $mm_menuWidth, $mm_menuMinWidth, $mm_menuMaxWidth * $nr );
	@include mm_position_right( ".mm-menu_columns-#{$nr}", $mm_menuWidth, $mm_menuMinWidth, $mm_menuMaxWidth * $nr );
}