@import 
	'../../mixins',
	'../../variables';


@if ( $mm_opt_dividers )
{
	.mm-listitem_divider
	{
		opacity: 1;
		transition: opacity $mm_transitionDuration $mm_transitionFunction;
	}

	@if ( $mm_opt_dividers_light )
	{
		.mm-menu_dividers-light .mm-listitem_divider
		{
			background: inherit;
			font-size: inherit;

			color: $mm_dimmedTextColor;	//	IE11 fallback
			color: var( --mm-color-text-dimmed );

			padding-top: ($mm_listitemSize - $mm_lineHeight) * .75; //	IE11 fallback
			padding-top: calc( (var( --mm-listitem-size ) - var( --mm-line-height )) * .75 );

			padding-bottom: ($mm_listitemSize - $mm_lineHeight) * .25; //	IE11 fallback
			padding-bottom: calc( (var( --mm-listitem-size ) - var( --mm-line-height )) * .25 );
		}
	}

	@if ( $mm_opt_borderstyle_none )
	{
		.mm-menu_border-none .mm-listitem_divider
		{
			border-top-width: 1px;
			border-top-style: solid;
		}
	}


	//	Fixed
	@if ( $mm_opt_dividers_fixed )
	{
		.mm-listview_fixeddivider
		{
			background: inherit;
			display: none;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 10;
			
			&:after
			{
				content: none !important;
				display: none !important;
			}
		}
		.mm-panel_dividers .mm-listview_fixeddivider
		{
			display: block;
		}
	}
}
