$mm_include_effects: true !default;
$mm_include_effects_menuslide: $mm_include_effects !default;
$mm_include_effects_panelsnone: $mm_include_effects !default;
$mm_include_effects_panelsslide: $mm_include_effects !default;
