@mixin mm_checks_colors( $cls: "",
	$color: $mm_textColor
) {
	#{$cls} label.mm-check:before
	{
		border-color: $color;
	}
}
@mixin mm_toggles_colors( $cls: "",
	$buttonBg: $mm_backgroundColor,
	$offBg: $mm_borderColor, $onBg: $mm_toggleCheckedColor
) {
	#{$cls} label.mm-toggle
	{
		background: $offBg;
	
		&:before
		{
			background: $buttonBg;
		}
	}
	#{$cls}input.mm-toggle:checked ~ label.mm-toggle
	{
		background: $onBg;
	}
}