$mm_toggleCheckedColor: #4bd963 !default;
$mm_toggleHeight: $mm_btnSize - $mm_padding !default;
$mm_toggleWidth: ( $mm_toggleHeight * 2 ) - $mm_padding !default;
$mm_checkHeight: $mm_btnSize - $mm_padding !default;
$mm_checkWidth: $mm_btnSize - $mm_padding !default;
