@if (variables.$mm_include_rtl) {
    [dir="rtl"] .mm-menu--iconpanel .mm-panels {
        > .mm-panel {
            left: 0;
            right: auto;
            transition-property: transform, width;

            &:not(.mm-panel--iconpanel-first):not(.mm-panel--iconpanel-0) {
                border-left: none;
                border-right: 1px solid;
                border-color: inherit;
            }
        }
    }
}
