@import '../../mixins', '../../includes', '../../variables';

:root {
    --mm-iconpanel-size: #{$mm_iconpanelSize};
}

@include mm_iconpanel_size(1);
@include mm_iconpanel_size(2);
@include mm_iconpanel_size(3);

.mm-panel--iconpanel-first {
    ~ .mm-panel {
        width: calc(100% - var(--mm-iconpanel-size));
    }
}

.mm-menu--iconpanel {

    .mm-panel--parent .mm-navbar,
    .mm-panel--parent .mm-divider {
        opacity: 0;
    }

    .mm-panels {
        > .mm-panel {
            left: auto;
            transition-property: transform, width;

            &--opened,
            &--parent {
                display: block !important;
            }

            &--parent {
                overflow-y: hidden;
                transform: unset;
            }

            &:not(.mm-panel--iconpanel-first):not(.mm-panel--iconpanel-0) {
                border-left-width: 1px;
                border-left-style: solid;
            }
        }
    }
}

@if ($mm_include_iconpanels_blocker) {
    .mm-panel__blocker {
        background: inherit;
        opacity: 0;
        display: block;

        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 3;

        transition: opacity $mm_transitionDuration $mm_transitionFunction;

        .mm-panel--parent & {
            opacity: 0.6;
            bottom: -100000px;
        }
    }
}

@import 'iconpanels.rtl';
