$mm_include_rtl: true !default;
$mm_include_vertical: true !default;

$mm_IE11Fallbacks: true !default;

$mm_include_offcanvas: true !default;
$mm_include_offcanvas_blocker: $mm_include_offcanvas !default;

$mm_include_screenreader: true !default;

$mm_include_autoheight: true !default;

$mm_include_columns: true !default;

$mm_include_counters: true !default;

$mm_include_dividers: true !default;

$mm_include_drag: true !default;

$mm_include_dropdown: true !default;
$mm_include_dropdown_tip: $mm_include_dropdown !default;

$mm_include_iconbar: true !default;
$mm_include_iconbar_tabs: $mm_include_iconbar !default;

$mm_include_iconpanels: true !default;
$mm_include_iconpanels_blocker: $mm_include_iconpanels !default;

$mm_include_keyboardnavigation: true !default;

$mm_include_navbars: true !default;
$mm_include_navbars_top: $mm_include_navbars !default;
$mm_include_navbars_bottom: $mm_include_navbars !default;
$mm_include_navbars_breadcrumbs: $mm_include_navbars !default;
$mm_include_navbars_searchfield: $mm_include_navbars !default;
$mm_include_navbars_tabs: $mm_include_navbars !default;

$mm_include_searchfield: true !default;
$mm_include_searchfield_btn: $mm_include_searchfield !default;
$mm_include_searchfield_searchpanel: $mm_include_searchfield !default;

$mm_include_sectionindexer: true !default;

$mm_include_setselected: true !default;

$mm_include_sidebar: true !default;
$mm_include_sidebar_collapsed: $mm_include_sidebar !default;
$mm_include_sidebar_expanded: $mm_include_sidebar !default;
$mm_include_sidebar_blocker: $mm_include_sidebar !default;

$mm_include_toggles: true !default;
$mm_include_checks: true !default;

$mm_include_borderstyle: true !default;
$mm_include_borderstyle_none: $mm_include_borderstyle !default;
$mm_include_borderstyle_full: $mm_include_borderstyle !default;

$mm_include_effects: true !default;
$mm_include_effects_menuslide: $mm_include_effects !default;
$mm_include_effects_panelsnone: $mm_include_effects !default;
$mm_include_effects_panelsslide: $mm_include_effects !default;

$mm_include_fullscreen: true !default;

$mm_include_listview: true !default;
$mm_include_listview_justify: $mm_include_listview !default;
$mm_include_listview_inset: $mm_include_listview !default;

$mm_include_multiline: true !default;

$mm_include_pagedim: true !default;
$mm_include_pagedim_default: $mm_include_pagedim !default;
$mm_include_pagedim_black: $mm_include_pagedim !default;
$mm_include_pagedim_white: $mm_include_pagedim !default;

$mm_include_popup: true !default;

$mm_include_positioning: true !default;
$mm_include_positioning_right: $mm_include_positioning !default;
$mm_include_positioning_top: $mm_include_positioning !default;
$mm_include_positioning_bottom: $mm_include_positioning !default;
$mm_include_positioning_front: $mm_include_positioning !default;

$mm_include_shadows: true !default;
$mm_include_shadows_page: $mm_include_shadows !default;
$mm_include_shadows_menu: $mm_include_shadows !default;
$mm_include_shadows_panels: $mm_include_shadows !default;

$mm_include_themes: true !default;
$mm_include_themes_white: $mm_include_themes !default;
$mm_include_themes_dark: $mm_include_themes !default;
$mm_include_themes_black: $mm_include_themes !default;

$mm_include_tileview: true !default;
$mm_include_tileview_xs: $mm_include_tileview !default;
$mm_include_tileview_s: $mm_include_tileview !default;
$mm_include_tileview_m: $mm_include_tileview !default;
$mm_include_tileview_l: $mm_include_tileview !default;
$mm_include_tileview_xl: $mm_include_tileview !default;
