$mm_include_rtl: true !default;

//	Animations
$mm_transitionDuration: 0.4s !default;
$mm_transitionFunction: ease !default;

//	Sizes
$mm_btnSize: 50px !default;
$mm_listitemIndent: 20px !default;
$mm_panelPadding: 20px !default;
