@if (variables.$mm_include_rtl) {
    [dir="rtl"] {
        #{$mm_module} {
            &--next:after {
                @include mixins.mm_btn_arrow_prev;
            }

            &--prev:before {
                @include mixins.mm_btn_arrow_next;
            }

            &--close {
                &:before,
                &:after {
                    right: auto;
                }

                &:before {
                    left: variables.$mm_listitemIndent + 5;
                }

                &:after {
                    left: variables.$mm_listitemIndent - 2;
                }
            }
        }
    }
}
