$mm_module: ".mm-btn";

#{$mm_module} {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    width: variables.$mm_btnSize;
    padding: 0;

    &:before,
    &:after {
        border: 2px solid var(--mm-color-icon);
    }

    // Types of buttons.
    &--prev:before,
    &--next:after {
        content: "";
        border-bottom: none;
        border-right: none;
        box-sizing: content-box;
        display: block;
        width: 8px;
        height: 8px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    &--prev:before {
        @include mixins.mm_btn_arrow_prev;
    }

    &--next:after {
        @include mixins.mm_btn_arrow_next;
    }

    &--close {
        &:before,
        &:after {
            content: "";
            box-sizing: content-box;
            display: block;
            width: 5px;
            height: 5px;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;

            transform: rotate(-45deg);
        }
        &:before {
            border-right: none;
            border-bottom: none;
            right: variables.$mm_listitemIndent - 2;
        }
        &:after {
            border-left: none;
            border-top: none;
            right: variables.$mm_listitemIndent + 5;
        }
    }

    // <button> reset
    &reset {
        background: none;
        border: none;
        padding: 0;

        cursor: pointer;
    }
}
