$mm_module: ".mm-listitem";

@if (variables.$mm_include_rtl) {
    [dir="rtl"] {
        //	invert the indent on the border
        #{$mm_module}:after {
            left: 0;
            right: variables.$mm_listitemIndent;
        }

        #{$mm_module}__btn {
            padding-left: variables.$mm_btnSize;
            border-left-width: 0;
            border-left-style: none;

            &:not(#{$mm_module}__text) {
                padding-right: 0;

                border-right-width: 1px;
                border-right-style: solid;
            }
        }
    }
}
