.mm-panels,
.mm-panels > .mm-panel
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
}
.mm-panels,
.mm-panel
{
	box-sizing: border-box;
	
	//	IE11 fallback
	background: $mm_backgroundColor;
	border-color: $mm_borderColor;
	color: $mm_textColor;

	background: var( --mm-color-background );
	border-color: var( --mm-color-border );
	color: var( --mm-color-text );
}
.mm-panels
{
	overflow: hidden;
}
.mm-panel
{
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;

	width: 100%;
	padding: 0 $mm_panelPadding;

	//	Fixes css from other styles hiding submenus
	&:not( .mm-hidden )
	{
		display: block;
	}

	transform: translate3d( 100%, 0, 0 );
	transition: transform $mm_transitionDuration $mm_transitionFunction;

	//	Because padding-bottom is ignored when a DIV is scrollable
	&:before,
	&:after
	{
		content: '';
		display: block;
		height: $mm_panelPadding;
	}
}
.mm-panel_has-navbar
{
	padding-top: $mm_navbarSize; //	IE11 fallback
	padding-top: var( --mm-navbar-size );
}
.mm-panel_opened
{
	z-index: 1;
	transform: translate3d( 0%, 0, 0 );
}
.mm-panel_opened-parent
{
	transform: translate3d( -$mm_subpanelOffset, 0, 0 );
}
.mm-panel_highest
{
	z-index: 2;
}
.mm-panel_noanimation
{
	transition: none !important;

	&.mm-panel_opened-parent
	{
		transform: translate3d( 0, 0, 0 );
	}
}
