.mm-navbar {
	background: var( --mm-color-background );
	border-color: var( --mm-color-border );
	color: var( --mm-color-text-dimmed );

	border-bottom-width: 1px;
	border-bottom-style: solid;

	text-align: center;
	display: none;

	height: var( --mm-navbar-size );
	padding: 0 $mm_btnSize;
	margin: 0;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	
	opacity: 1;
	transition: opacity $mm_transitionDuration $mm_transitionFunction;

	> * {
		box-sizing: border-box;
		display: block;

		padding: calc( (var( --mm-navbar-size ) - var( --mm-line-height )) * .5 );
		padding-left: 0;
		padding-right: 0;
	}

	a,
	a:hover {
		text-decoration: none;
	}
}

.mm-navbar__title {
	@include mm_ellipsis;
}

.mm-navbar__btn {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;

	&:first-child {
		text-align: left;
		left: 0;
	}

	&:last-child {
		text-align: right;
		right: 0;
	}
}

.mm-panel_has-navbar {
	.mm-navbar {
		display: block;
	}
}