@if ( $mm_opt_rtl )
{
	[dir="rtl"] .mm-navbar__btn
	{
		&:first-child
		{
			text-align: right;
			right: 0;
			left: auto;
		}
		&:last-child
		{
			text-align: left;
			left: 0;
			right: auto;
		}
	}
}
