$mm_module: '.mm-navbar';

#{$mm_module} {
    display: flex;
    min-height: var(--mm-navbar-size);
    border-bottom: 1px solid var(--mm-color-border);
    background: var(--mm-color-background);
    color: var(--mm-color-text-dimmed);
    text-align: center;

    opacity: 1;
    transition: opacity $mm_transitionDuration $mm_transitionFunction;

    &_sticky {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    > * {
        flex-grow: 1;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    > .mm-btn {
        flex-grow: 0;
    }
}

#{$mm_module}__title {
    @include mm_ellipsis;

    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    padding-left: $mm_panelPadding;
    padding-right: $mm_panelPadding;

    // Center the content.
    &:not(:last-child) {
        padding-right: 0;
    }

    #{$mm_module}__btn:not(.mm-hidden) + & {
        padding-left: 0;

        &:last-child {
            padding-right: $mm_btnSize;
        }
    }
    // /Center
}
