@if ( $mm_opt_vertical )
{

	.mm-listitem_vertical > .mm-panel
	{
		transform: none !important;

		display: none;
		width: 100%;
		padding: $mm_padding 0 $mm_padding $mm_padding;

		&:before,
		&:after
		{
			content: none;
			display: none;
		}
	}
	.mm-listitem_opened > .mm-panel
	{
		display: block;
	}

	.mm-listitem_vertical
	{
		> .mm-listitem__btn
		{
			height: $mm_listitemSize;
			height: var( --mm-listitem-size );
			bottom: auto;
		}

		.mm-listitem:last-child:after
		{
			border-color: transparent;
		}
	}
	
	.mm-listitem_opened
	{
		> .mm-listitem__btn:after
		{
			transform: rotate( 225deg );
			right: $mm_listitemIndent - 1;
		}
	}
}