.mm-menu {
	background: var( --mm-color-background );
	border-color: var( --mm-color-border );
	color: var( --mm-color-text );
	line-height: var( --mm-line-height );

	overflow: hidden;
	box-sizing: border-box;
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 0;

	top: var( --mm-offset-top );
	right: var( --mm-offset-right );
	bottom: var( --mm-offset-bottom );
	left: var( --mm-offset-left );

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	a,
	a:link,
	a:active,
	a:visited,
	a:hover {
		color: inherit;
		text-decoration: none;
	}
}
