$module: '.mm-panels';

#{$module} {
    position: relative;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;

    background: var(--mm-color-background);
    border-color: var(--mm-color-border);
    color: var(--mm-color-text);
}