$mm_module: '.mm-panel';

#{$mm_module} {
    z-index: 1;
    box-sizing: border-box;
    width: 100%;

    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: auto;

    color: var(--mm-color-text);
    border-color: var(--mm-color-border);
    background: var(--mm-color-background);

    transform: translate3d(100%, 0, 0);
    transition: transform $mm_transitionDuration $mm_transitionFunction;

    //	Because padding-bottom is ignored when a DIV is scrollable
    &:after {
        content: '';
        display: block;
        height: var(--mm-listitem-size);
    }

    &--opened {
        z-index: 2;
        transform: translate3d(0%, 0, 0);
    }

    &--parent {
        transform: translate3d(-$mm_subpanelOffset, 0, 0);
        z-index: 0;
    }

    &--highest {
        z-index: 3;
    }

    &--noanimation {
        transition: none;
    }
}

#{$mm_module}__content {
    padding: $mm_panelPadding $mm_panelPadding 0;
}
