.mm-tabguard {
    &--start,
    &--end {
        position: fixed;
        top: 0;
        left: -100vw;
        z-index: -5;
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: none;
    }

    &--fill {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}