@import "../../mixins", "../../includes", "../../variables";

$mm_toggleCheckedColor: #4bd963 !default;
$mm_toggleHeight: 44px - $mm_padding !default;
$mm_toggleWidth: ($mm_toggleHeight * 2) - $mm_padding !default;
$mm_checkHeight: $mm_btnSize - $mm_padding !default;
$mm_checkWidth: $mm_btnSize - $mm_padding !default;

input.mm-toggle {
  display: inline-block;
  min-width: $mm_toggleWidth;
  width: $mm_toggleWidth;
  height: $mm_toggleHeight;
  margin-top: calc((var(--mm-listitem-size) - #{$mm_toggleHeight}) / 2)
    $mm_padding 0;
  border: none !important;
  background: var(--mm-color-border);
  border-radius: $mm_toggleHeight;
  appearance: none !important;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:before {
    content: "";
    display: block;
    width: $mm_toggleHeight - 2;
    height: $mm_toggleHeight - 2;
    margin: 1px;
    border-radius: $mm_toggleHeight;
    background: var(--mm-color-background);
    transition: transform 0.2s ease;
  }

  &:checked {
    background: $mm_toggleCheckedColor;

    &:before {
      transform: translateX($mm_toggleWidth - $mm_toggleHeight);
    }
  }
}

input.mm-check {
  appearance: none !important;
  border: none !important;
  background: none !important;
  cursor: pointer;
  display: inline-block;
  min-width: $mm_checkWidth;
  width: $mm_checkWidth;
  height: $mm_checkHeight;
  margin-top: calc((var(--mm-listitem-size) - #{$mm_checkHeight}) / 2)
    $mm_padding 0;

  &:before {
    content: "";
    display: block;
    width: 40%;
    height: 20%;
    margin: 25% 0 0 20%;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: var(--mm-color-text);
    opacity: 0.3;
    transform: rotate(-45deg);
    transition: opacity 0.2s ease;
  }

  &:checked {
    &:before {
      opacity: 1;
    }
  }
}
