//	Animations
$mm_transitionDuration: 0.4s !default;
$mm_transitionFunction: ease !default;


//	Sizes
$mm_btnSize: 50px !default;
$mm_padding: 10px !default;

$mm_listitemIndent: $mm_padding * 2 !default;
$mm_panelPadding: $mm_padding * 2 !default;
$mm_subopenWidth: $mm_btnSize !default;
