//	Animations
$mm_transitionDuration: 0.4s !default;
$mm_transitionDelay: 0.4s !default;
$mm_transitionFunction: ease !default;

//	Colors
$mm_backgroundColor: #f3f3f3 !default;
$mm_borderColor: rgba(#000, 0.1) !default;
$mm_dimmedTextColor: rgba(#000, 0.3) !default;
$mm_emphasizedBackgroundColor: rgba(#fff, 0.4) !default;
$mm_highlightedBackgroundColor: rgba(#000, 0.05) !default;
$mm_navbarColor: rgba(#000, 0.3) !default;
$mm_textColor: rgba(#000, 0.75) !default;

//	Positioning
$mm_offsetTop: 0 !default;
$mm_offsetRight: 0 !default;
$mm_offsetBottom: 0 !default;
$mm_offsetLeft: 0 !default;

//	Sizes
$mm_btnSize: 44px !default;
$mm_padding: 10px !default;
$mm_lineHeight: 20px !default;

$mm_listitemIndent: $mm_padding * 2 !default;
$mm_listitemSize: $mm_btnSize !default;
$mm_navbarSize: $mm_btnSize !default;
$mm_panelPadding: $mm_padding * 2 !default;
$mm_subopenWidth: $mm_btnSize + $mm_padding !default;
$mm_subpanelOffset: 30% !default;
