$mm_include_sidebar: true !default;
$mm_include_sidebar_collapsed: $mm_include_sidebar !default;
$mm_include_sidebar_expanded: $mm_include_sidebar !default;
$mm_include_sidebar_blocker: $mm_include_sidebar !default;
