//	deprecated
@mixin mm_sidebar_collapsed_size( $width )
{
	.mm-wrapper_sidebar-collapsed-#{$width}
	{
		.mm-slideout
		{
			width: calc( 100% - #{$width}px );
			transform: translate3d( #{$width}px, 0, 0 );
//			@include mm_translate( #{$width}px, 0 );
		}
	}
}

//	deprecated
@mixin mm_sidebar_expanded_size( $width )
{
	.mm-wrapper_sidebar-expanded-#{$width}
	{
		&:not( .mm-wrapper_sidebar-closed )
		{
			.mm-slideout
			{
				width: calc( 100% - #{$width}px );
//				transform: translate( $width, 0 ) !important;
				transform: translate3d( $width, 0, 0 ) !important;
			}
		}
		.mm-menu_sidebar-expanded
		{
			width: $width !important;
		}
	}
}
