@if (variables.$mm_include_rtl) {
    [dir="rtl"] {
        &.mm-wrapper--sidebar-collapsed {
            .mm-slideout {
                transform: translate3d(0, 0, 0);
            }
        }

        &.mm-wrapper--sidebar-expanded .mm-slideout {
            transform: translate3d(0, 0, 0);
        }

        &.mm-wrapper--sidebar-expanded:not(.mm-wrapper--sidebar-closed) {
            .mm-menu--sidebar-expanded.mm-menu--opened {
                ~ .mm-slideout {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}
