$mm_opt_sidebar				: true !default;
$mm_opt_sidebar_collapsed	: $mm_opt_sidebar !default;
$mm_opt_sidebar_expanded	: $mm_opt_sidebar !default;
$mm_opt_sidebar_blocker		: $mm_opt_sidebar !default;

$mm_sidebarCollapsedSizes	: [40, 60, 80] !default;
$mm_sidebarExpandedSizes	: [25, 30, 35] !default;